@media only screen and (max-width: 600px) {
    body {
      background-color: rgba(243, 236, 44, 0.525);
      margin: 0;
      padding: 0;
    }
    .mobile{
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;


    }
    .container{
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin: 15px;
      padding: 15px;
      text-align: center;
    }
    img{
      height:350px;
      width:100%
    }
    h1{
      color: rgb(19, 192, 249);
      margin-top: 50px;
      font-weight: bold;
    }
  p{
    color: black;
    font-weight: bolder;
    

  }
  button{
    height: 55px;
    width: 300px;
    background-color: rgb(19, 192, 249);
    margin-top: 40px;
    border-style: none;
    font-weight: bolder;
    color: rgb(243, 236, 44) ;
  }

  }
  @media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;
      display: none;
    }
    .mobile{
      display:flex;
      flex-direction:column;
      padding:20px
    }
    
    
  }